<form id="login_form"
	class="px-16 space-y-6 z-2 align-bottom" 
	hx-post="/login"
	hx-swap="outerHTML"
	hx-indicator="#foo"
	x-data>
	<input type="hidden" name="remember" value="true" />
	<div class="!mt-3 rounded-md shadow-sm">

		<div class="relative border border-gray-700 rounded-xl" >
			<input id="login-user-email" name="user-email"
				title="Email"
				class="login-form-input bg-zinc-800 focus:bg-zync-700 rounded-t-xl" 
				placeholder="Email"  
				value="{{user_email}}"
				hx-post="/check_login_credentials"
				hx-trigger="change, keyup changed delay:500ms"
				hx-sync="this:replace"
				hx-target="#login_form"
				hx-swap="outerHTML"
				hx-indicator="#indicator"/>

			<div class="absolute left-2 top-1 z-50" id="email_valid_icon"  >
				{% if sc2_sensei_unreacheable %}
					<i id="login-email-warn" 
						class="bi bi-exclamation-triangle text-warning text-xl cursor-pointer ml-[4px] align-center" 
						data-tippy-content="Can't connect to Sc2 Sensei"
						x-data
						x-init="tippy($el, 
						{
							theme: 'warning',
							placement: 'bottom-start',
							animation: 'fade',
							allowHTML: true,
							trigger: 'mouseenter',
						})">
					</i>
				{% elif invalid_email %}
				
					<i id="login-email-cross" 
						class="bi bi-x text-error text-2xl cursor-pointer" 
						data-tippy-content="Invalid Email: User not found"
						x-data
						x-init="tippy($el, 
						{
							theme: 'error',
							placement: 'bottom-start',
							animation: 'fade',
							allowHTML: true,
							trigger: 'mouseenter',
						})">
					</i>
				{% elif user_email %}
					<i id="login-email-check" 
						class="bi bi-check text-success text-2xl cursor-pointer" >
					</i>
				{% endif %}
			</div>
			
			<img id="indicator" src="{{url_for('static', filename='bars.svg')}}" 
				class="absolute htmx-indicator left-0 ml-[10px] top-0 mt-[10px] z-50  h-[22px] w-[22px] bg-zinc-800 pointer-events-none">

			<div class="relative" id="password-container">
				<input id="login-user-password" name="user-password" type="password"
					x-ref="password"
					title="Password"
					class="login-form-input bg-zinc-800 focus:bg-zync-700 !rounded-none"
					placeholder="Password"  
					hx-preserve />

				{% if invalid_password %}<div class="absolute left-2 top-1 z-50" >
					<i id="login-password-cross" class="bi bi-x text-error text-2xl cursor-pointer"
						data-tippy-content="Invalid Password"
						x-init="tippy($el, 
							{
								theme: 'error',
								placement: 'bottom-start',
								animation: 'fade',
								allowHTML: true,
								trigger: 'mouseenter',
							})">
					</i>
				</div>
				{% endif %}
			</div>


		</div>

		<div>
			<button type="submit" id="login-submit-button"
				class="group auth-submit auth-sizing disabled:hover:border-error/70 disabled:hover:text-error"
				onclick="setTimeout(()=>this.blur(), 500)"
				{% if invalid_email or not user_email or sc2_sensei_unreacheable %}
					disabled
				{% endif %}
				>
				<span class="absolute inset-y-0 left-0 flex justify-center items-center pl-3">
				</span>

				<p class="relative w-full">
					Link App to Sc2 Sensei
				</p>
				<img id="foo" src="{{url_for('static', filename='bars.svg')}}" 
					class="absolute htmx-indicator left-5 mt-[2px]  z-50  h-[21px] w-[22px]">

			</button>
		</div>
		<div class="flex justify-center mt-3 p-1 relative h-4">
			<a 
				hx-get="/redirect_to_website_registration" 
				hx-swap="none"
				hx-trigger="click"
				class="cursor-pointer select-none
					hover:underline hover:text-cyan-500">
				Don't have an account?</a>
		</div>
	</div>

</form>
