<!DOCTYPE html>
<head>
	<title>Sc2 Sensei - Replay Auto-Uploader</title>
	<script defer src="//unpkg.com/alpinejs"></script>
	<script src="https://unpkg.com/htmx.org@1.9.5"></script>
	<script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>

	<script src="https://unpkg.com/@popperjs/core@2"></script>
	<script src="https://unpkg.com/tippy.js@6"></script>

	<link id="output_css" rel="stylesheet" href="{{url_for('static',filename='tailwind_css/output.css')}}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{{url_for('static',filename='logo_gradient.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='loading_dots.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='upload_limiter_speedmeter.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='tippy_themes.css')}}">

	<style>
	{# Fixes bug where indicators are visible on page load because the style that hides them has not been loaded yet #}
	.htmx-indicator {
		opacity: 0;
		transition: opacity 200ms ease-in;
		pointer-events: default;
	}	
	</style>

	<div class="hidden h-fit w-12 h-12 pt-[34px] mr-[10px] w-5 h-5 mt-[3px] mx-3 hover:text-gray-100 cursor-help rounded-full hover:bg-[#c0a97f] hover:text-white bg-[#c0a97f] text-gray-100"></div>
</head>