{% include 'header.html' %}


<div class="w-screen h-screen p-5 justify-center bg-[#0e0e0e] overflow-hidden">
  <div class="flex  justify-center">
    <div class="card px-10 py-8 border border-accent/40 rounded-xl"
      style="background: linear-gradient(234deg, #273d5a 8%,  rgb(87, 107, 110) 34%, rgb(118, 131, 123) 47%,  rgb(101, 124, 128) 65%, #23344b 96%);">

      <div class="w-full h-full ">

        <img class="absolute top-0 left-0 right-0 bottom-0 -z-2 w-full h-full  rounded-xl"
          src="{{ url_for('static', filename='gradient_blue_black.jpg') }}" alt="bg" style="opacity:0.8" />
      
        <a href="/" class="relative mb-3 flex justify-center">
          <img class=" h-[4rem] z-5" src="{{ url_for('static', filename='icons/sc2_sensei_logo_v6.1.png') }}"
            alt="Sc2-Sensei" />
        </a>

        <div class="relative z-10 space-y-2 ">

			<p class="text-2xl text-center text-yellow-500 "> No Internet </p>
			<div class="text-center  text-yellow-500 !my-3">
				<i class="bi bi-exclamation-triangle text-4xl"></i>
			</div>
			<p class="text-lg text-center text-yellow-400 "> Check your internet connection and try again </p>

			<div class="flex justify-center">
				<a href="/" class="px-4 py-[6px] mt-1
					bg-accent-focus border border-gray-500  text-white rounded-lg
					hover:border-white hover:text-white hover:bg-accent
					active:bg-accent-focus/70 
					transition-all duration-250">
					Retry
				</a>
			</div>
        </div>
      </div>
    </div>
  </div>
</div>